<!-- <app-action-bar title="List Challenge" [showBackButton]="true"></app-action-bar> -->
<!-- <StackLayout style="align-items: center;justify-content: center;">
  <Label text="List Challenge"></Label>
  <Label text="List Challenge"></Label>
</StackLayout> -->
<!-- <StackLayout>
  <Progress value="50" backgroundColor="#7057a5" color="#000"></Progress>
  <Slider
    value="75"
    minValue="0"
    backgroundColor="#7057a5"
    maxValue="100"
  ></Slider>
</StackLayout> -->

<!-- <ScrollView>
  <StackLayout padding="2" backgroundColor="#3c495e">
    <Label text="Text 1" height="50" horizontalAlignment="left" width="50%" style="background-color: rgb(68, 173, 173);text-align: center;padding: 3 3;" ></Label>
    <Label text="Text 2" height="50" horizontalAlignment="right" width="50%" style="background-color: rgb(108, 180, 180);text-align: center;padding: 3 3;"></Label>
    <Label text="Text 3" height="50" horizontalAlignment="center" width="50%" style="background-color: rgb(176, 189, 189);text-align: center;padding: 3 3;"></Label>
    <Label text="v4" height="50"style="background-color: rgb(176, 189, 189);text-align: center;"></Label>
    <Label text="v5" height="50"style="background-color: rgb(176, 189, 189);text-align: center;"></Label>
    <Label text="v6" height="50"style="background-color: rgb(176, 189, 189);text-align: center;"></Label>
    <Label text="v7" height="50"style="background-color: rgb(176, 189, 189);text-align: center;"></Label>
    <Label text="v8" height="50"style="background-color: rgb(176, 189, 189);text-align: center;"></Label>
    <Label text="v9" height="50"style="background-color: rgb(176, 189, 189);text-align: center;"></Label>
  </StackLayout>
</ScrollView> -->

<!-- <GridLayout columns="115, 115" rows="115, 115">
    <Label text="0,0" row="0" col="0" backgroundColor="#43B3F4" style="font-size: 20;text-align: center"></Label>
    <Label text="0,1" row="0" col="1" backgroundColor="#075B88" style="font-size: 20;text-align: center"></Label>
    <Label text="1,0" row="1" col="0" backgroundColor="#1089CA" style="font-size: 20;text-align: center"></Label>
    <Label text="1,1" row="1" col="1" backgroundColor="#43B3F4" style="font-size: 20;text-align: center"></Label>
  </GridLayout> -->

<!-- <FlexboxLayout flexWrap="wrap" backgroundColor="#3c495e" >
    <Label text="first" width="30%"  height="70" backgroundColor="#43B3F4" ></Label>
    <Label text="second" width="30%" height="70" backgroundColor="#075B88" ></Label>
    <Label text="third" width="30%"  height="70" backgroundColor="#1089CA" ></Label>
    <Label text="fourth" width="30%" height="70" backgroundColor="#1089CA" ></Label>
  </FlexboxLayout> -->

<!-- <WrapLayout backgroundColor="#3c495e">
    <Label text="first" width="20%" height="20%" backgroundColor="#43B3F4" style="font-size: 20;text-align: center"></Label>
    <Label text="second" width="20%" height="20%" backgroundColor="#075B88" style="font-size: 20;text-align: center"></Label>
    <Label text="third" width="20%" height="20%" backgroundColor="#1089CA" style="font-size: 20;text-align: center"></Label>
    <Label text="fourth" width="20%" height="20%" backgroundColor="#1089CA"style="font-size: 20;text-align: center" ></Label>
    <Label text="fifth" width="20%" height="20%" backgroundColor="#43B3F4" style="font-size: 20;text-align: center"></Label>
    <Label text="sexth" width="20%" height="20%" backgroundColor="#075B88" style="font-size: 20;text-align: center"></Label>
    <Label text="seventh" width="20%" height="20%" backgroundColor="#1089CA" style="font-size: 20;text-align: center"></Label>
    <Label text="eghth" width="20%" height="20%" backgroundColor="#1089CA" style="font-size: 20;text-align: center"></Label>
  </WrapLayout> -->
<!-- <StackLayout> -->
  <!-- <ActivityIndicator busy="true"></ActivityIndicator -->
    <!-- <SegmentedBar>
        <SegmentedBarItem title="First" backgroundColor="red"/>
        <SegmentedBarItem title="Second" />
        <SegmentedBarItem title="Third" />
        <SegmentedBarItem title="Third" />
      </SegmentedBar> -->

      <!-- <ActivityIndicator [busy]="isBusy" color="#7057a5" width="50" height="50" (busyChange)="onBusyChanged($event)"></ActivityIndicator> -->
     
      <!-- <DatePicker year="2000" month="4" day="20"
      [minDate]="minDate" [maxDate]="maxDate"
      (dateChange)="onDateChanged($event)" 
      (dayChange)="onDayChanged($event)" 
      (monthChange)="onMonthChanged($event)" 
      (yearChange)="onYearChanged($event)" 
      (loaded)="onDatePickerLoaded($event)"
      verticalAlignment="center">
</DatePicker> -->
<!-- <Progress value="25" maxValue="100" class="progress"></Progress>
</StackLayout> -->
<!-- <ListView [items]="items" class="list-group" [itemTemplateSelector]="templateSelector" row="0">
  <ng-template nsTemplateKey="red" let-item="item" let-i="index">
      <GridLayout>
          <Label [text]="item.name" backgroundColor="gray" color="white"></Label>
      </GridLayout>
  </ng-template>

  <ng-template nsTemplateKey="green" let-item="item" let-i="index">
      <GridLayout>
          <Label [text]="item.name" backgroundColor="white" color="black"></Label>
      </GridLayout>
  </ng-template>
</ListView>  -->
<!-- <SearchBar hint="Search..." 
           color="green" backgroundColor="gray"
           textFieldHintColor="whitesmoke"
           textFieldBackgroundColor="white">
</SearchBar> -->

<!-- <Label text="&#xf019;" class="far"></Label> -->
<GridLayout rows="*, auto">
    <ScrollView row="0" rowSpan="2" paddingBottom="100">
      <StackLayout>
        <!-- main content -->
      </StackLayout>
    </ScrollView>

    <GridLayout row="1" height="100">
      <!-- bottom tabs -->      
    </GridLayout>
  
</GridLayout>