@import "app.comman";
// @import '~nativescript-theme-core/scss/platforms/index.android';

.btn{
    color: rgb(247, 245, 245);
    background-color:#7c015d;
    border-radius: 30%;
    width: 100;
    font-size: 20;
    
  }